@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@media (min-width: 768px) { /* MD Screen */
  .Header {
    grid-template-columns: 350px 1.7fr;
  }

  .Project-header {
    grid-template-columns: 1.7fr 350px;
  }

  .Design-1 {
    grid-template-columns: 0.8fr 1.7fr;
    grid-template-rows: 0.4fr 4.15fr;
  }

  .Design-2 {
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    column-gap: 10px;
  }

  @media (max-width: 1280px){ /* XL Screen */
    .Project {
      grid-template-rows: 0.2fr 1.5fr 1.5fr 1.5fr 1.5fr ;
      grid-template-columns: 0.8fr 1.7fr;
    }
  }
}

@media (min-width: 1280px){
  .Project {
    grid-template-rows: 0.4fr 4.0fr 4.15fr 4.15fr 4.0fr;
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
  }
}


@media (max-width: 767px) {
  .Logo {
    grid-row: 1;
  }

  .Design-1 {
    grid-template-rows: 0.05fr 0.3fr 0.1fr;
  }
}

.Main-Header {
  background-color: #fff848;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.5rem 5rem;
}

.Main-Header h1 {
  font-size: 1.8rem;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: bolder;
}

.Profile {
  /* position: absolute; */
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.circle-1 {
  top: 20px;
  left: 220px;
  padding: 6.23px;
  border-color: transparent;
}

.circle-2 {
  top: 65px;
  left: 240px;
  padding: 6.23px;
  border-color: transparent;
}

.circle-3 {
  top: 110px;
  left: 245px;
}
.circle-4 {
  top: 155px;
  left: 238px;
}

.circle-5 {
  top: 195px;
  left: 218px;
}

.Button-bg:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.Image-scroll {
  background-color: rgba(100, 116, 139, 0.6);
}
