@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
}

@media (min-width: 768px) {
  /* MD Screen */
  .Header {
    grid-template-columns: 350px 1.7fr;
  }

  .Design-1 {
    grid-template-columns: 0.8fr 1.7fr;
    grid-template-rows: 0.4fr 4.15fr;
  }

  .Design-2 {
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    column-gap: 10px;
  }

}

@media (max-width: 767px) {
  .Logo {
    grid-row: 1;
  }

  .Design-1 {
    grid-template-rows: 0.05fr 0.3fr 0.1fr;
  }
}

h1 {
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: bolder;
}


@media (min-width: 1024px) {
  
  .Project-header {
    display: flex;
    justify-content: center;
  }

  .Project-header .Intro{
      grid-template-columns: repeat(2, minmax(0, 900px));
      
}
}

/* Hide Scrollbar */
.Project-header .Image::-webkit-scrollbar{
  display: none;
}

.Project-header .Image{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Project-header .Details::-webkit-scrollbar{
  display: none;
}

.Project-header .Details{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Works{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Works::-webkit-scrollbar{
  display: none;
}